{% extends "base.html"%} {% block title %}Log_In{% endblock %} {% block content
%}

<style>
  body {
    height: 100%;
  }

  .form-signin {
    max-width: 330px;
    padding: 1rem;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
</style>

<br />
<br />
<br />
<main class="form-signin w-100 mx-auto text-center">
  <form method="POST">
    <img
      class="mb-4 rounded-circle"
      src="static\Imagesy\black_logo.png"
      alt=""
      width="120"
      height="120"
    />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="email" class="sr-only">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email Address"
      required=""
      autofocus=""
    />

    <label for="paswword" class="sr-only">Password</label>
    <input
      type="password"
      class="form-control"
      id="paswword"
      name="paswword"
      placeholder="Password"
      required=""
    />

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">© 1864-2030</p>
  </form>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
