<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha384-qv4mJR3quCt1zstv0J6sqq6qF1M7Z8SN0E5wCt9vX2Ad4R/1D1jddmy5+Xm1PuEK" 
    crossorigin="anonymous">
    
  </head>



<header>
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #053B50;">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">

      <a class="navbar-brand" href="#">
        <img src="static\Imagesy\trans_logo.png" style="max-width: 30px; max-height: 30px;" alt="">
      </a>
      

      <div class="navbar-nav ml-a">
        <a class="nav-item nav-link" id="login" href="/login" style="color:#FFFCE8;">Login</a>
        <a class="nav-item nav-link" id="Sign-Up" href="/sign-up" style="color:#FFFCE8;">Sign-Up</a>
        
        <a class="nav-item nav-link" id="home" href="/" style="color:#FFFCE8;">Home</a>
    </div>
    


    <div class="navbar-nav offset-md-7">
      <a class="nav-item nav-link" id="cart" href="/Order" style="color:#FFFCE8;">
          <i class="fa-solid fa-cart-shopping"></i> To-Go-Cart </a>



          <form class="form-inline ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>
  </nav>
</header>




  <body style="background-color: #EEEEEE;">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {%if messages%}
    {%for category, message in messages%}
    {%if category == "error"%}
    <div class = "alert alert-danger alert-dismissable fade show" role="alert">
      {{message}}
      <button type ="button" class = close data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>

      {%else%}
      <div class = "alert alert-success alert-dismissable fade show" role="alert">
        {{message}}
        <button type ="button" class = close data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}

    </dic>
    



     <!-- add contaitner to mkae it swuaer again -->
      {% block content %}{% endblock %}


    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

