{% extends "base.html"%} {% block title %}Order{% endblock %} {% block content
%}
<head>
  <meta charset="UTF-8" />

  <style>
    /* Add CSS styles for item display */
    .item {
      border: 1px solid #ccc;
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .item img {
      max-width: 100px;
      margin-right: 20px;
    }
  </style>
</head>
<body>
  <h1>Order Page</h1>

  <h2>Your Order:</h2>

  {% for item in items %}
  <div class="item">
    <img src="static\Imagesy\Fayer.png" alt="Item Image" />
    <div>
      <h3>{{ item.size }}</h3>
      <!-- <p>Type: {{ item.type }}</p> -->
      <p>Cash: ${{ item.Cash }}</p>
      <p>Quantity: {{ item.quantity }}</p>
    </div>
  </div>
  {% endfor %} {% if items %}
  <div class="item">
    <div class="form-group">
      <label for="Discount" style="font-size: x-large; color: #3e363f"
        >Discount</label
      >
      <input
        type="text"
        class="form-control"
        id="Discount"
        name="Discount"
        placeholder="Enter Discount Code"
      />
    </div>
  </div>

  <div class="item">
    <h2>Total: ${{ Total }}</h2>
  </div>
  {% endif %} {% if not items %}
  <div class="ml-auto">
    <h2>No items in cart</h2>
  </div>
  {% endif %} {% if items %}
  <div>
    <a class="btn btn-primary rounded ml-2" href="{{ url_for('views.Menu')}}"
      >Back to Menu</a
    >
    <a class="btn btn-primary rounded ml-2 text-white" id="buy_now_btn">
      Check Out</a
    >
  </div>
  {% endif %} {% if not items %}
  <a class="btn btn-primary rounded ml-2" href="{{ url_for('views.Menu')}}" 
    >Back to Menu</a
  >
  {% endif %}

  <script src="https://js.stripe.com/v3/"></script>
      <script>
        const check_out_public_key = "{{check_out_public_key}}";
        const  checkout_session_id = "{{checkout_session_id}}";
      </script>
      <script src="{{ url_for('static', filename='script-no-ajax.js') }}"></script>


</body>
{%endblock%}
